<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="container col-md-6" style="margin-top: 10px;">
    <h4>
      タグ名 
    </h4>
    <input type="text" class="form-control" id="tag-input-form">
    <%= form_for(@form, url: tag_managements_path, method: :post) do |fb| %>
      <table class="table">
        <% if not (@form.tag_managements.select { |v| v.errors.any? }).empty? %>
          <div class="alert alert-warning text-center">
            <strong> 空欄があります </strong>
          </div>
        <% end %>
        <thead>
          <tr>
            <!-- <th>タグ</th> -->
            <th>フォームのタイトル</th>
            <!-- <th>順番</th> -->
            <th>フォームの種類</th>
          </tr>
        </thead>
        <tbody class="bulk-registration-form" id="add-form-body">
          <%= fb.fields_for :tag_managements do |f| %>
            <tr class="item">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :tag, value: "dummy dummy", id: "hidden-tag-field" %>
              <!--
              <td>
                <%= f.text_field :tag, class: 'form-control' %>
              </td>
              -->
              <td>
                <%= f.text_field :label, class: 'form-control' %>
              </td>
              <!--
              <td>
                <%= f.text_field :order, class: 'form-control' %>
              </td> -->
              <td>
                <%= f.select :datatype, [["一行だけのテキスト", "text_contents"], ["複数行にわたるテキスト", "textarea_contents"], ["日時", "date_contents"], ["画像", "image_contents"], ["数字", "number_contents"], ["URL", "link_contents"]] ,{}, { class: 'form-control' } %>
              </td>
            </tr>
          <% end %>
          <div id="additional-tag-form"></div>
        </tbody>
      </table>
      <div class="btn btn-success" id="addbtn">追加</div>
      <div class="text-center">
        <%= fb.submit '一括登録', class: 'btn btn-success', id: "tag-form-submit" %>
      </div>
    <% end %>
  </div>
</div>
