
<tabel>
<tbody>
<!-- <div class="row">
    <div class="container col-4">
        <%= link_to '新規投稿画面', new_post_path %>
    </div>
</div>         -->
<% @data.each do |post| %>
<div class="row">
    <div class="container col-8">
        <div class="card border-dark mb-3 w-75">
            <div class="card-header">
                <%= "タグ : #{post["tag"]}" %>
            </div>            
            <div class="card-body">
                <% post["data"].each do |t| %>
                    <div class="card-text">
                        <%= t["label"] %>
                    </div>
                    <p class="card-text">
                        <% if t["datatype"] == "text_contents" then %>
                            <%= t["content"] %>
                        <% elsif t["datatype"] == "textarea_contents" then %>
                            <%= t["content"] %>                            
                        <% elsif t["datatype"] == "date_contents" then %>
                            <%= t["content"] %>
                        <% else %>
                            else
                        <% end %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>
</tbody>
</tabel>    

