<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="col-md-10 main" style="padding: 0 0 0 0;">
    <div class="tag-columns">
      <div class="row">
        <% @data.each do |dd| %>
          <% if dd["post_list"].length != 0 %>
            <div class="col-3 tag-column-box">
              <div class="tag-column-box-header">
                <%= dd["tag_name"] %>
              </div>
              <div class="tag-column-box-body">
                <% dd["post_list"].each do |post| %>
                  <% if post.select{|i| not i["content"].blank?}.length != 0 %>
                    <div class="card border-dark .bs">
                      <div class="card-body" style="padding-top: 3px;">
                      <ul class="list-group list-group-flush">
                        <% post.each do |t| %>
                          <% if not t["content"].blank?  %>
                          <li class="list-group-item">
                            <div class="card-text">
                            <div class="form-label">
                              <%= t["label"] %>
                            </div>
                            </div>
                              <% if t["datatype"] == "text_contents" then %>
                                <%= t["content"] %>
                              <% elsif t["datatype"] == "textarea_contents" then %>
                                <%= t["content"] %>
                              <% elsif t["datatype"] == "date_contents" then %>
                                <%= t["content"] %>
                              <% elsif t["datatype"] == "number_contents" then %>
                                <%= t["content"] %>
                              <% elsif t["datatype"] == "image_contents" then %>
                                <% if t["content"].thumb.present? %>
                                  <%= image_tag(t["content"].thumb) %>
                                <% end %>
                              <% elsif t["datatype"] == "link_contents" then %>
                                <%= link_to 'リンク', t["content"], target: "_blank" %>
                              <% else %>
                              <% end %>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
