<h3>
    <%= @tag_name %>
</h3>
<div class="container">
<div class="row">
<div class="col-xs-2">
<%= bootstrap_form_tag url: '/posts' do |f| %>
    <% @tag.each do |t| %>
        <% if t.datatype == "text_contents" then %>
            <%= f.text_field  t.label %>
        <% elsif t.datatype == "textarea_contents" then %>
            <%= f.text_area  t.label %>
        <% elsif t.datatype == "date_contents" then %>
            <%= f.date_field  t.label %>
        <% else %>
            else
        <% end %>
    <% end %>
    <%= f.submit "登録" %>
<% end %>
</div>
</div>
</div>