<h3>
    <%= @tag_name %>
</h3>
<%= form_for @post do |f| %>
  <%= f.hidden_field :user_id, value: User.find(1).id %>
  <%= f.hidden_field :tag, value: @tag_name %>

  <% @tags.each do |t| %>
    <h5> <%= t.label %> </h5>
    <% if t.datatype == "text_contents" then %>
      <%= f.fields_for :text_contents, @post.text_contents.build, multiple: true do |text_contents_form| %>
        <%= text_contents_form.text_field :content %>
        <%= text_contents_form.hidden_field :label,value: t.label %>
      <% end %>
    <% elsif t.datatype == "textarea_contents" then %>
      <%= text_area_tag  t.label %>
      <%= f.hidden_field :label,value: t.label %>
    <% elsif t.datatype == "date_contents" then %>
      <%= date_field_tag  t.label %>
      <%= f.hidden_field :label,value: t.label %>
    <% else %>
      else
    <% end %>
  <% end %>
  <%= f.submit "add" %>

<% end %>
