<h3>
    <%= @tag_name %>
</h3>
<%= form_tag '/posts' do %>
  <%= hidden_field_tag :user_id, User.find(1).id %>
  <%= hidden_field_tag :tag, @tag_name %>
    <% @tag.each do |t| %>
        <h5> <%= t.label %> </h5>
        <% if t.datatype == "text_contents" then %>
            <%= text_field_tag  t.label %>
        <% elsif t.datatype == "textarea_contents" then %>
            <%= text_area_tag  t.label %>
        <% elsif t.datatype == "date_contents" then %>
            <%= date_field_tag  t.label %>
        <% else %>
            else
        <% end %>
    <% end %>
    <%= submit_tag "add" %>
<% end %>
